*{
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    color: purple;
}
body{
    margin: 0;
}

/* START OF HEADER */
.header{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    background-image: url("images/Printed Circuit Board.svg");
}
.header .upper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;   
}
.upper-links{
    display: flex;
    gap: 16px;
}
.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}
.upper-links a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}


.header .lower{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

.lower-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 1 30rem;
    padding: 16px;
    /* From https://css.glass */
    background: rgba(184, 161, 161, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.9px);
    border: 1px solid rgba(184, 161, 161, 0.3);
}
.lower-title{
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.subtext{
    font-size: 18px;
}
.lower-text .subtext{
    color: #e5e7eb;
}

.lower-text button{
    background-color: #3882F6;
    font-weight: bolder;
    color: #F9FAF8;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    transition: transform 0.3s;
}
.lower-text button:hover{
    transform: scale(0.8);
}
/* END OF HEADER STYLES */

/* START OF SECTION ONE */
.section-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-one .title{
    font-size: 36px;
    font-weight: bolder;
}
.cell{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: auto;
}
.cell-info{
    max-width: 400px;
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.cell-info *{
    text-align: center;
    margin: 5px 0;
}

.cell-info img{
    width: 150px;
    height: 150px;
    border: 2px solid blue;
    border-radius: 16px;
    box-shadow: 3px 5px 5px rgb(0, 0, 0, 0.4);
}
/* END OF SECTION ONE */

/* START OF SECTION TWO */
.section-two{

    padding: 5% 20%;
    background-color: #1f2937;
}

#quote-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#quote-info .quote{
    color: #F9FAF8;
    font-size: 36px;
    font-style: italic;
}
#quote-info .name{
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
}